.filters{
  border: 1px solid lightgray; 
  padding:0 10px; 
  position:fixed;
  top: 48px;
  left:0;
  width: 50%; 
  background-color: white; 
  z-index: 2;
}
.input-text{
  border: none; 
  margin: 10px 0; 
  padding-left: 30px;
  padding-bottom: 5px;  
  background: url('../images/search.svg') no-repeat;
  background-size: 12px 12px;
  background-position: 5px 2px; 
  border-bottom: 1px solid rgb(168, 164, 164); 
  width: 100%; 
}
.filter__label{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}