.selected{
  display: flex;
  flex-direction: column;
}
.selected__list{
  list-style: none; 
  margin-top: 91px; 
  border: 1px solid lightgray; 
  flex-grow: 1;

}
.btn{
  border: none; 
}
.clear__box{
  position: fixed;
  top: 48px;
  left:50%;
  width: 50%;  
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  height: 43px; 
  border: 1px solid lightgray; 
  padding: 10px; 
  background-color: white;
}
.clear__btn{
  background: none; 
  color: #0C81CE; 
  text-transform: uppercase; 
  cursor: pointer; 
}
.selected__list-city{
  padding: 10px 15px 10px 0; 
  display:flex; 
  align-items: center; 
  justify-content: space-between; 
}
.delete__btn{
  background: none; 
  color: slategrey; 
  text-transform: uppercase; 
  cursor: pointer; 
  font-size: 20px; 
}
.selected__pages{
  padding: 20px; 
  display: flex;
  justify-content: space-between; 
  border: 1px solid lightgray; 
}